@media (min-width: 730px) and (max-width: 1023px){
    .small-logo{
        display: none;
    }
    #header__menu{
        display: block;
    }
    .logo-ubisoft-connect{
        display: flex;
        flex: 2;
        justify-content: center;
        margin-left: -16px;
    }
    .logo-ubisoft-connect img{
        width: 80%;
    }
    #header{
        height: auto;
        flex-direction: column;
        padding: 0;
    }
    .left-items{
        padding: 8px 0px
    }
    #nav{
        display: none;
        padding-left: 32px;
        background-color: var(--dark);
        order:3;
    }
    #nav .nav-item a{
        font-size: 24px;
        color: rgb(173, 173, 173);
    }
    #nav .nav-item{
        display: block;
    }
    #nav i{
        display: none;
    }
    #subnav .subnav-item:first-child{
        height: 60px;
    }
    #subnav hr{
        display: none;
    }
    #subnav{
        visibility: visible;
        padding: 0px;
        position: unset;
        min-width: 0px;
        background-color: transparent;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: none;
        /* overflow: hidden; */
        opacity: 1;
        /* transition: opacity 0.5s,visibility 0.5s; */
        transition: all 0.5s;
        transform: translateX(0%);
        padding-left: 16px;
    }
    #subnav .subnav-item a{
        font-size: 16px;
    }
    .right-items .login-btn{
        margin: 0;
    }
    .right-items{
        display: none;
        flex-direction: column;
        order: 2;
        padding: 20px 32px 0;
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,1);
        background-color: var(--dark);
        justify-items: center;
    }
    .right-items hr{
        display: block;
        width: 100%;
        /* height: 0px; */
        margin: 16px 0px;
        border: none;
        border-top: 1px solid var(--white);
    }
    .new-content-slider{
        margin-top: 40px;
    }
    
}


@media (min-width: 1024px) and (max-width: 1199px){
    
    .logo-ubisoft-connect{
        display: none;
    }
    .new-content-slider{
        justify-content: flex-end;
        background: linear-gradient(0deg, rgb(13, 13, 13) 40%, rgba(13, 13, 13, 0) 60%), url(../img/81NoY73iQ6L._SL1500_.jpg) top center / cover no-repeat;
    }
    .new-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        align-self: center;
    }
    .new-content-slider .cards-container .card{
        width: 20%;
        height: 50%;
    }
    .new-content-subheading{
        font-size: 20px;
    }
    .new-content-slider .cards-container{
        width: 96%;
        height: 44%;
    }
    .small-logo{
        display: block;
    }

    .intro-section .section__heading{
        font-size: 40px;
        margin: 0 0 16px;
    }

    .intro-section> .section__presentation:first-of-type{
        margin: 0 64px 16px;
    }

    .section{
       display: flex;
       flex-direction: column; 
       padding: 32px 0px;
    }
    .section__heading{
        font-size: 40px;
    }
    .section__home-subtitle{
        font-size: 18px;
    }
    .section__presentation{
        font-size: 20px;
    }
    .img{
        max-width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .loyalty-img{
        max-width: 120%;
        height: auto;
        margin-left: -36px;
    }
    .order-1{
        order:0;
    }
    .order-2{
        order:0;
    }
    #footer hr{
        margin: 32px -64px 42px;
    }
}

