@media (max-width:1199px){
    .section{
        display: flex;
        flex-direction: column; 
        padding: 32px 0px;
     }
     .section__heading{
         font-size: 40px;
     }
     .section__home-subtitle{
         font-size: 18px;
     }
     .section__presentation{
         font-size: 20px;
     }
    .img{
         max-width: 100%;
         height: auto;
         margin-left: 0px;
     }
     .order-1{
         order:0;
     }
     .order-2{
         order:0;
     }
     #footer hr{
         margin: 32px -64px 42px;
     }
     .new-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        align-self: center;
    }
}

@media (min-width: 1024px) and (max-width: 1199px){
    
    .logo-ubisoft-connect{
        display: none;
    }
    .new-content-slider{
        justify-content: flex-end;
        background: linear-gradient(0deg, rgb(13, 13, 13) 10%, rgba(13, 13, 13, 0) 60%), url(../img/watch-dogs-wallpaper-19-3000x2000.jpg) top center / cover no-repeat;
        /* background: linear-gradient(0deg, rgb(13, 13, 13) 40%, rgba(13, 13, 13, 0) 60%), url(../img/81NoY73iQ6L._SL1500_.jpg) top center / cover no-repeat; */
    }

    .new-content-slider .cards-container .card{
        width: 20%;
        height: 50%;
    }
    .new-content-subheading{
        font-size: 20px;
    }
    .new-content-slider .cards-container{
        width: 96%;
        height: 44%;
    }
    .small-logo{
        display: block;
    }

    .intro-section .section__heading{
        font-size: 40px;
        margin: 0 0 16px;
    }

    .intro-section> .section__presentation:first-of-type{
        margin: 0 64px 16px;
    }
    .anchors .title-card{
        width: 192px;
        height: 260px;
    }

}

@media (max-width: 1023px){
    #subnav .subnav-item:hover{
        background-color: var(--gray-dark);
    }
    #subnav .subnav-item:hover .subnav-link{
        color: var(--primary);
        transition: all 0.5s ease-out;
    }
    #nav .nav-item:hover .nav-link{
        color: var(--primary);
    }
    .small-logo{
        display: none;
    }
    #header__menu{
        display: block;
    }
    .logo-ubisoft-connect{
        display: flex;
        flex: 2;
        justify-content: center;
        margin-left: -16px;
    }
    .logo-ubisoft-connect img{
        width: 80%;
    }
    #header{
        height: 48px;
        flex-direction: column;
        padding: 0;
    }
    .left-items{
        width: 100%;
        padding: 8px 0px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
    }
    #nav{
        display: block;
        padding-left: 32px;
        background-color: var(--dark);
        order: 3;
        overflow-y: scroll;
        position: fixed;
        top: 200px;
        bottom: 0;
        width: 100%;
        /* transform: translateX(0%); */
        left: -100%;
        transition: left 0.2s ease-out;
    }
    #nav.click{
        left: -0px;
    }
    #nav .nav-item a{
        font-size: 24px;
        color: rgb(173, 173, 173);
    }
    #nav .nav-item > a:first-of-type{
        height: 60px;
    }
    #nav .nav-item{
        display: block;
    }
    #nav i{
        display: none;
    }
    #nav .nav-item:hover #subnav{
        cursor: pointer;
        transform: translateX(0%);
    }
    #subnav .subnav-item:first-child{
        height: 60px;
    }
    #subnav hr{
        display: none;
    }
    #subnav{
        visibility: visible;
        padding: 0px;
        position: unset;
        min-width: 0px;
        background-color: transparent;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: none;
        /* overflow: hidden; */
        opacity: 1;
        /* transition: opacity 0.5s,visibility 0.5s; */
        transition: all 0.5s;
        transform: translateX(0%);
        padding-left: 16px;
    }
    #subnav .subnav-item a{
        font-size: 16px;
    }
    #subnav li a{
        transform: none;
    }
    #subnav .subnav-item:first-of-type{
        padding: 0px;
    }
    #subnav .subnav-item:first-of-type a{
        line-height: 60px;
    }
    .right-items .login-btn{
        margin: 0;
    }
    .right-items{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 2;
        padding: 20px 32px 0;
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,1);
        background-color: var(--dark);
        justify-items: center;
        margin-top: 48px;
        left: -100%;
        transition: left 0.2s ease-out;
    }
    .right-items.click{
        left: -0px;
    }
    .right-items hr{
        display: block;
        width: 100%;
        /* height: 0px; */
        margin: 16px 0px;
        border: none;
        border-top: 1px solid var(--white);
    }
    .new-content-slider{
        margin-top: 48px;
    }
    .pc-link{
        display: none;
    }
    .mid-items{
        width: 50%;
    }
    .anchors .title-card:hover{
        margin-top: 0px;
    }
}

@media (min-width: 740px) and (max-width: 1023px){
    
    .new-content-slider{
        margin-top: 48px;
    }
    .new-content-slider{
        height: 520px;
        justify-content: flex-end;
        background: linear-gradient(0deg, rgb(13, 13, 13) 44%, rgba(13, 13, 13, 0) 60%), url(../img/watch-dogs-wallpaper-19-3000x2000.jpg) top center / cover no-repeat;
        /* background: linear-gradient(0deg, rgb(13, 13, 13) 44%, rgba(13, 13, 13, 0) 60%), url(../img/81NoY73iQ6L._SL1500_.jpg) top center / cover no-repeat; */
        background-size: 120%;
    }
    .new-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        align-self: center;
    }
    .new-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 0px;
        margin-left: 0px;
        align-self: center;
    }
    .new-content-slider .cards-container{
        margin-top: 16px;
        width: 100%;
        height: 30%;
    } 
    .new-content-slider .cards-container .card{
        width: 20%;
        height: 70%;
    }
   
    .new-content-subheading{
        font-size: 20px;
        text-align: center;
    }
    .intro-section{
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 60px;
    }
    .intro-section .section__heading{
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .intro-section> .section__presentation:first-of-type {
        margin: 0 0 16px;
        width: 100%;
    }
    .section__presentation{
        font-size: 20px;
    }
  
    .anchors a{
        text-decoration: none;
        color: var(--white);
        font-size: 16px;
        margin: 0 14px;
        width: 24%; 
        max-width: 24%;
    }
    .anchors .title-card{
        display: flex;
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        padding: 21px 28px;
        border: 1px solid var(--gray-dark);
        border-radius: 8px;
        -webkit-transition: margin 0.2s ease-out;
        -moz-transition: margin 0.2s ease-out;
        -o-transition: margin 0.2s ease-out;
       
    }
}

@media (max-width: 739px){
    .new-content-heading{
        font-size: 32px;
    }
    .new-content-subheading{
        font-size: 16px;
        text-align: center;
    }

    .new-content-slider{
        /* height: 520px; */
        justify-content: flex-end;
        /* background: linear-gradient(0deg, rgb(13, 13, 13) 55%, rgba(13, 13, 13, 0) 60%), url(../img/81NoY73iQ6L._SL1500_.jpg) top center / cover no-repeat; */
        background: linear-gradient(0deg, rgb(13, 13, 13) 55%, rgba(13, 13, 13, 0) 60%), url(../img/watch-dogs-wallpaper-19-3000x2000.jpg) top center / cover no-repeat;
        background-size: 120%;
    }
    .new-content-slider .cards-container{
        margin-top: -24px;
        width: 100%;
        height: 30%;
        justify-content: center;
    } 
    .new-content-slider .cards-container .card{
        width: 20%;
        height: 30%;
        margin: 0 5px;
    }

    .new-content-slider i{
        display: none;
    }

    .section{
        display: flex;
        flex-direction: column; 
        padding: 32px 0px;
     }
     .section__content{
         padding: 16px;
     }
     .section__heading{
         font-size: 32px;
     }
     .section__home-title{
         font-size: 14px;
     }
     .section__home-subtitle{
         font-size: 18px;
     }
     .section__presentation{
         font-size: 16px;
     }
     .intro-section{
        padding: 0 12px 128px;
    }
    .intro-section .section__heading{
        margin-left: 0;
        margin-right: 0;
        font-size: 32px;
    }
    .intro-section .section__presentation:first-of-type{
        margin-left: 0;
        margin-right: 0;
    }
    .mid-items{
        width: 76%;
    }
    .intro-section .anchors{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .anchors a{
        min-width: 48%;
        margin: 8px 0;
    }
    .anchors .title-card{
        margin: 0;
        padding: 12px;
        height: 100%;
        width: 100%;
    }
    .title-card .card-label{
        font-size: 14px;
    }
    .img{
         max-width: 100%;
         height: auto;
         margin-left: 0px;
     }
     
     .order-1{
         order:0;
     }
     .order-2{
         order:0;
     }
     #footer{
         padding-left: 16px;
         padding-right: 16px;
     }
     #footer hr{
         margin: 32px -16px 42px;
     }
     .socials{
         margin-bottom: 32px;
     }
     .footer__top{
         flex-direction: column;
     }
     .footer__bottom{
         flex-direction: row-reverse;
         justify-content: space-between;
     }
     select{
         width: 46%;
         min-width: 140px;
     }
     .top-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }
     .top-menu li{
         margin-bottom: 16px;
     }
     .footer__links .top-menu a{
         font-size: 15px;
         margin-right: 24px;
     }
     .bot-menu .menu-item{
        display: block;
        margin-bottom: 16px;
     }
     .menu{
         padding-left: 0;
     }
     .title-card i{
         font-size: 24px;
     }
}
@media (max-width: 676px) {
    .new-content-slider{
        /* height: 520px; */
        justify-content: flex-end;
        /* background: linear-gradient(0deg, rgb(13, 13, 13) 58%, rgba(13, 13, 13, 0) 60%), url(../img/81NoY73iQ6L._SL1500_.jpg) top center / cover no-repeat; */
        background: linear-gradient(0deg, rgb(13, 13, 13) 58%, rgba(13, 13, 13, 0) 60%), url(../img/watch-dogs-wallpaper-19-3000x2000.jpg) top center / cover no-repeat;
        background-size: 120%;
    }
}
#nav::-webkit-scrollbar {
    width: 0.5em;
  }
   
  #nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  #nav::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }