*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #202020;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
html:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #006ef5;
    --secondary: #006ef5;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #222;
}
html{
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* // */
.margin-bottom-16px{
    margin-bottom: 16px;
}
.margin-bottom-8px{
    margin-bottom: 8px;
}
.text-color-white{
    color: var(--white);
}
.text-color-light-gray{
    color: #D6d6d6;
}
.text-align-center{
    text-align: center;
}
.order-1{
    order:1;
}
.order-2{
    order:2;
}
/* // */
#header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 28px;
    justify-content: space-between;
    background-color: black;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    /* overflow: hidden; */
}
#header__menu{
    display: none;
    padding: 0 16px;
    border-right: 2px solid lightgray;
    cursor: pointer;
    transition: all 0.2s ease-out;
    width: 62px;
    text-align: center;
}

.small-logo{
    display: none;
}
.left-items{
    display: flex;
    align-items: center;
}
.right-items{
    display: flex;
    align-items: center;
}
.right-items hr{
    display: none;
}
#nav{
    padding: 0px;
    /* margin-left: -64px; */
}
#nav li{
    cursor: pointer;
}
#nav .nav-item{
    position: relative;
    list-style-type: none;
    display: inline-block;
}
#nav .nav-item a{
    text-decoration: none;
    color:white;
    font-size: large;
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    margin: 0 8px;
    color: var(--gray);
}
#nav .nav-item:hover .nav-link{
    color: var(--white);
}
#nav .nav-item:hover #subnav{
    cursor: pointer;
    /* display: block; */
    visibility: visible;
    opacity: 1;
    transform: translateX(-30%);
    /* transform: translateY(0); */
}

.subnav-link{
    transition: transform 1s ease-out;
    transform: translateY(50%);
}
#subnav hr{
    margin: 0 16px;
    transition: transform 1s ease-out;
    transform: translateY(3300%);
    height: 1px;
    border: none;
    border-top: 1px solid var(--gray);
}
#nav .nav-item:hover #subnav .subnav-link{
    transform: translateY(0%);
}
/* spin arrow animation toggle class spin trong jquery de chay animation*/
#nav .subnav-container i{
    transform: rotate(0deg);
    transition: transform 0.2s ease-out;
}
#nav .subnav-container i.spin {
    transform: rotate(-180deg);
}

#subnav{
    /* display: none; */
    visibility: hidden;
    padding: 0px;
    position: absolute;
    min-width: 200px;
    background-color: var(--dark);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,1);
    /* overflow: hidden; */
    opacity: 0;
    /* opacity: 0; */
    /* transition: opacity 0.5s,visibility 0.5s; */
    transition: opacity 0.3s ease-out;
    /* transform: translateY(10%); */

}
#subnav .subnav-item .subnav-link{
    display: block;
    margin: 0px 20px;
}
#subnav .subnav-item{
    width: 100%;
    height: 60px;
    list-style-type: none;
}

#subnav .subnav-item:first-child{
    height: 80px;
    vertical-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

#subnav .subnav-item:first-child a{
    line-height: normal;  
    display: block;
}
#subnav .subnav-item:hover{
    background-color: #3e4144;
    transition: 0.5s ease-out;
}
#subnav .subnav-item:hover .subnav-link{
    color: var(--white);
    transition: all 0.5s ease-out;
}

.btn{
    font-size: large;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid transparent;
    display: inline-block;
}

.right-items .login-btn{
    margin-right: 16px ;
    background-color: #e5e5e5;
}
#nav{
    flex: 1;
    padding-left: 32px;
}
.right-items .login-btn:hover{
    background-color: lightgray;
}
.pc-download-btn{
    color: white;
    background-color: var(--secondary);
}
.pc-download-btn:hover{
    background-color: #1991ff;
    border-color: #1991ff;
    box-shadow: 0 4px 20px rgb(0 110 245 / 40%);
}

.new-content-slider{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    background: linear-gradient(0deg, rgb(13, 13, 13) 10%, rgba(13, 13, 13, 0) 60%), url(../img/watch-dogs-wallpaper-19-3000x2000.jpg) top center / cover no-repeat;
    /* background: linear-gradient(0deg, rgb(13, 13, 13) 10%, rgba(13, 13, 13, 0) 60%);  */
    /* background: linear-gradient(0deg, rgb(13, 13, 13) 10%, rgba(13, 13, 13, 0) 60%), url(../img/81NoY73iQ6L._SL1500_.jpg) top center / cover no-repeat; */
}
.new-text{
    width: 44%;
    margin-top: 106px;
    margin-left: 128px;
    align-self: flex-start;
    text-shadow: var(--gray);
}
.new-content-heading{
    font-size: 56px;
    font-weight: 700;
    /* font: 700 56px; */
    text-shadow: 2px 2px 6px #020202;
}
.new-content-subheading{
    font-size: 24px;
    font-weight: 600;
    text-shadow: 2px 2px 6px #000000;
    /* margin-right: 700px; */
    /* font: 700 56px; */
}

.new-content-slider .redeem-btn:hover{
    background-color: lightgray;
    box-shadow: 0 4px 20px rgba(146, 146, 146, 40%);
}
.new-content-slider .cards-container{
    width: 96%;
    height: 44%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
}
.new-content-slider .cards-container .card{
    width: 18%;
    height: 56%;
    /* background-image: url(../img/81NoY73iQ6L._SL1500_.jpg); */
    background-image: url(../img/watch-dogs-wallpaper-19-3000x2000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--gray);
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
}
.new-content-slider .cards-container i{
    cursor: pointer;
}

.new-content-slider .cards-container .card:hover{
    margin-bottom: 8px;
    /* border: 3px solid var(--primary); */
}


.intro-section{
    padding: 100px 76px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: flex-end;
    /* background: url(https://ubistatic-a.akamaihd.net/0123/PROD/_next/static/images/right-meteor-4d85d16….png)
     0 100%/30%,url(https://ubistatic-a.akamaihd.net/0123/PROD/_next/static/images/bottom-meteor-24fef8f….png) 
     bottom/100%,url(https://ubistatic-a.akamaihd.net/0123/PROD/_next/static/images/left-meteor-37497c5….png)
      100% 100%/30%,radial-gradient(50% 40.33% at 50% 45.76%,#0a1626 44.79%,rgba(10,22,38,0) 100%); */
    background: radial-gradient(50% 40.33% at 50% 45.76%,#0a1626 44.79%,rgba(10,22,38,0) 100%);; 
    background-color: rgb(13, 13, 13);
}

.section__presentation{
    font-size: 24px;
    font-weight: 400;
    color: lightgray;
}
.intro-section> .section__presentation:first-of-type{
     margin: 0 170px 16px;
}
.section__presentation .sign-in-link{
    text-decoration: none;
    color: var(--secondary);
}
.intro-section .section__heading{
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #EB148A, #2824E6);
    font-size: 60px;
    margin: 0 256px 24px;
}


.mid-items{   
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin-top: 32px;
}
.mid-items a{
    margin: 0 8px;
}
.mid-items .pc-link{
    width: 145px;
}
.mid-items .app-link{
    width: 162px;
}
.mid-items .google-link{
    margin: -4px;
    width: 204px;
}
.mid-items img{
    width: 100%;
}
/* .mid-items .app-link img{
    width: 100%;
}
.mid-items .google-link img{
    width: 100%;
} */

.anchors{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 60px;
}
.anchors a{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    margin: 0 14px;
    width: 24%; 
    max-width: 24%;
}
.anchors .title-card{
    display: flex;
    height: 240px;
    flex-direction: column;
    justify-content: space-around;
    padding: 21px 28px;
    border: 1px solid var(--gray-dark);
    border-radius: 8px;
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
   
}
.c1{
    background-image: linear-gradient(135deg, #0A1626, #3A231B);
}
.c2{
    background-image: linear-gradient(135deg, #0A1626, #073E52);
}
.c3{
    background-image: linear-gradient(135deg, #0B1A28, #122E2F);
}
.c4{
    background-image: linear-gradient(45deg, #0A1626, #380F34);
}
.anchors .title-card:hover{
   margin-top: -8px;
}

.section{
    background: linear-gradient(180deg,#0d0d0d .79%,rgba(13,13,13,0) 23.87%),radial-gradient(100.72% 66.36% at left center,#4d2814 0,rgba(79,38,23,.6) 26.72%,rgba(96,23,54,0) 72.51%);
    background-color: black;
    padding: 32px 64px;
    display: flex;
    align-items: center;
}
.image-container{
    flex: 1;
    text-align: center;
    /* padding: 0 128px;    */
    margin: 0 76px;
}
.img{
    max-width: 120%;
    height: auto;
    margin-left: -24px;
}
.loyalty-img{
    max-width: 140%;
    height: auto;
    margin-left: -108px;
}
.section__content{
    flex: 1;
    padding: 0 64px;
}
.section__home-title{
    font-size: 18px;
    margin-bottom: 20px;
}
.section__home-subtitle{
    font-size: 28px;
    line-height: 32px;
    margin: 32px 0px 8px;
}
.section__heading{
    background-image: linear-gradient(90deg, #F9FF45, #FF7D45, #FF4579);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
    margin: 0 0 16px;
}
.section i{
    margin-right: 16px;
}
.loyalty .section__heading{
    background-image: linear-gradient(90deg, #01E3BE, #007FDE);
}
.loyalty{
    background: radial-gradient(51.3% 42.62% at right center,#055971 0,rgba(5,89,113,0) 100%);
    background-color: black;
}

.section__content a{
    text-decoration: none;
    color: var(--primary);
}

.stats-tips{
    background: radial-gradient(45.52% 45.16% at left center,#1b4b3a 0,rgba(27,75,67,0) 100%);
    background-color: black;
}
.stats-tips .section__heading{
    background-image: linear-gradient(111.95deg, #D6FF5B, #14FEC6);
}

.pc-launcher{
    background: radial-gradient(80.47% 44.15% at right center,#710546 0,rgba(113,5,57,0) 100%);
    background-color: black;
}

.devices-composition{
    padding-top: 108px;
    background: linear-gradient(0deg,#0d1c2ed7 0,rgba(113,5,57,0) 100%);
    background-color: black;
}
.devices-composition .section__heading{
    background-image: linear-gradient(98deg, #08C1B5, #194CFF);
    -webkit-background-clip: text;
}
.devices-composition{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer{
    background-color: #0B1827;
    background: linear-gradient(#0B1827, #011120);
    padding: 64px 64px 44px;   
}
#footer a{
    color: lightgray;
}
#footer select{
    color: lightgray;
    padding: 10px 30px 10px 20px;
    background-color: transparent;
    font-size: large;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    display: inline-block;
    appearance: none;
    background: url(../img/icons8_expand_arrow_50px_2.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
}
#footer select:focus{
    outline: none;
}
#footer option{
    color: white;
    background-color: var(--gray-dark);
}
#footer hr{
    margin: 32px 0px 42px;
    height: 0px;
    border: none;
    border-top: 1px solid var(--gray);
}
#footer a{
    text-decoration: none;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.socials{
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.socials i{
    color: lightgray;
    margin: 0 0 0 8px;
}
.socials i:hover{
    color: white;
}

.footer__bottom{
    display: flex;
}

.footer__links ul{
    margin-bottom: 32px;
    list-style-type: none;
}
.footer__links .menu-item{
    display: inline-block;
}
.footer__links .top-menu a{
    font-weight: 700;
    font-size: 17.5px;
    margin: 0 44px 0 0;
    color: var(--gray);
}
.footer__links .bot-menu a{
    font-size: 14px;
    margin: 0 44px 0 0;
    color: var(--gray);
}
#footer a:hover{
    color: var(--white);
}
.footer__copyright{
    display: inline-block;
    color: var(--white);
    padding: 8px;
    font-size: 10.5px;
    background-color: black;
    border-radius: 6px;
}

